.directions {
  margin-top: 50px;

  &__title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 60px;
    color: #000000;
    margin-bottom: 32px;
  }

  &__navbar {
    display: flex;
    column-gap: 70px;
    align-items: center;
    &-list{
      border-bottom: 3px solid transparent;
      padding-bottom: 15px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 30px;
      color: #A8A8A8;
      cursor: pointer;
      transition: .2s;

      &:hover {
        color: #000000;
        border-bottom: 3px solid black;
        transition: .2s;
      }
    }
  }

  &__cards {
    display: flex;
    column-gap: 32px;
    flex-wrap: wrap;
    row-gap: 32px;

    &-list {
      background-size: cover;
      padding: 24px 32px;
      width: 340px;
      height: 248px;
      position: relative;
    }

    &-title {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 32px;
      color: #000000;
      margin-bottom: 9px;
    }

    &-subtitle {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 28px;
      letter-spacing: 0.01em;
      color: #000000;
    }

    &-img {
      position: absolute;
      right: 32px;
      bottom: 24px;
    }

    &-btn {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 11px;
      line-height: 22px;
      letter-spacing: 0.17em;
      text-transform: uppercase;
      color: #000000;
      padding: 4px 12px;
      background-color: transparent;
      border: 1px solid rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      position: absolute;
      left: 24px;
      bottom: 32px;
      cursor: pointer;
      transition: .2s;

      &:hover {
        color: #4A4A4A;
        transition: .2s;
      }
    }
  }

  &__showMore {
    display: flex;
    padding: 13px 0;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
    margin-top: 48px;
    border: 1px solid #DFDFDE;
    border-radius: 4px;

    &-more {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 11px;
      line-height: 22px;
      display: flex;
      align-items: center;
      letter-spacing: 0.17em;
      text-transform: uppercase;
      color: #000000;
      cursor: pointer;

      &:hover {
        color: #4A4A4A;
      }
    }
  }
}

.line {
  width: 100%;
  height: 3px;
  margin-top: -3px;
  background-color: #DFDFDE;
  margin-bottom: 31px;
}

.active {
  color: #000000;
  border-bottom: 3px solid black;
}

.tourism {
  background: url("./../../../assets/background/туризм.png") no-repeat center center;
}

.jurisprudence {
  background: url("./../../../assets/background/юриспруденция.png") no-repeat center center;
}

.economy {
  background: url("./../../../assets/background/экономика.png") no-repeat center center;
}

.journalism {
  background: url("./../../../assets/background/Журналистика.png") no-repeat center center;
}

.medical {
  background: url("./../../../assets/background/Медицинская оптика.png") no-repeat center center;
}

.public {
  background: url("./../../../assets/background/реклама и связи с общественностью.png") no-repeat center center;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
