.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
  align-items: center;
}
.header__profile {
  display: flex;
  column-gap: 16px;
  align-items: center;
}
.header__right {
  display: flex;
  column-gap: 31px;
  align-items: center;
}
.header__social {
  display: flex;
  column-gap: 16px;
  align-items: center;
}
.header__social-icon {
  width: 36px;
  height: 36px;
  transition: 0.2s;
}
.header__social-icon:hover {
  width: 40px;
  height: 40px;
  transition: 0.2s;
}
.header__contact {
  display: flex;
  column-gap: 8px;
  align-items: center;
}
.header__contact-tel {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #000000;
}
.header__submit-btn {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 4px 12px;
  background: #000000;
  border-radius: 4px;
  transition: 0.2s;
  cursor: pointer;
}
.header__submit-btn:hover {
  background: #252525;
  transition: 0.2s;
}
.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 31px;
  margin-bottom: 70px;
}
.header__navbar-list {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #000000;
  padding: 4px 12px;
  background: #F2F2F2;
  border-radius: 28px;
  transition: 0.2s;
  cursor: pointer;
}
.header__navbar-list:hover {
  color: #787878;
  transition: 0.2s;
}
.footer {
  background: #000000;
  padding-top: 100px;
  margin-top: 58px;
}
.footer__form {
  margin-bottom: 128px;
}
.footer__form-answer {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #A8A8A8;
}
.footer__form-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0;
}
.footer__form-list {
  border-bottom: 1px solid #4A4A4A;
  border-top: 1px solid #4A4A4A;
}
.footer__form-list1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.footer__form-questions {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 51px;
  color: #FFFFFF;
}
.footer__form-title {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 40px;
  color: #FFFFFF;
}
.footer__form-subtitle {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
  color: #787878;
}
.footer__form-plus {
  color: #FFFFFF;
  font-size: 30px;
  cursor: pointer;
  transition: 0.2s;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.footer__form-plus:hover {
  background: rgba(242, 242, 242, 0.12);
  transition: 0.2s;
}
.footer__questions {
  background-color: #ffffff;
  padding: 40px 30px;
  display: flex;
  column-gap: 40px;
}
.footer__questions-item {
  width: 30%;
}
.footer__questions-title {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 51px;
  color: #000000;
  margin-bottom: 14px;
}
.footer__questions-subtitle {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}
.footer__questions-block {
  display: flex;
  align-items: center;
  column-gap: 19px;
}
.footer__questions-block_text {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
  color: #787878;
}
.footer__questions-form {
  width: 50%;
  display: flex;
  column-gap: 40px;
}
.footer__questions-form_title {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 11px;
  margin-left: 13px;
}
.footer__questions-form_input {
  width: 312px;
  background: #F2F2F2;
  border-radius: 4px;
  padding: 17px 0 17px 19px;
}
.footer__questions-form_input::placeholder {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #A8A8A8;
}
.footer__questions-form_tel {
  width: 312px;
  background: #F2F2F2;
  border-radius: 4px;
  padding: 17px 0 17px 19px;
}
.footer__questions-form_tel::placeholder {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #A8A8A8;
}
.footer__questions-form_text {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
  color: #787878;
  margin-left: 10px;
}
.footer__questions-operator_block {
  display: flex;
  flex-direction: column;
}
.footer__questions-operator_title {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 11px;
}
.footer__questions-operator_text {
  width: 343px;
  height: 176px;
  background: #F2F2F2;
  border-radius: 4px;
  resize: none;
  padding: 17px 0 17px 19px;
}
.footer__questions-operator_btn {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  width: 344px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 8px;
}
.footer__questions-operator_btn:hover {
  background: #252525;
  transition: 0.2s;
}
.footer__basement {
  display: flex;
  padding: 100px 0 37px 0;
  column-gap: 89px;
}
.footer__basement-logo {
  margin-bottom: 19px;
}
.footer__basement-program {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
  color: #787878;
  margin-bottom: 36px;
}
.footer__basement-agreement {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
  color: #FFFFFF;
  border-bottom: 1px solid #DFDFDE60;
}
.footer__basement-title {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  margin-bottom: 34px;
  cursor: pointer;
}
.footer__basement-tel {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  margin-bottom: 13px;
  cursor: pointer;
}
.footer__basement-workTime {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 75px;
}
.footer__basement-icon {
  display: flex;
  column-gap: 16px;
  align-items: center;
}
.footer__basement-icon img {
  cursor: pointer;
}
.footer__selection {
  display: flex;
  column-gap: 13px;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  cursor: pointer;
}
.footer__selection:hover {
  background-color: #252525;
  transition: 0.2s;
}
.footer__selection-btn {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: #FFFFFF;
  transition: 0.2s;
}
.footer__selection-circle {
  width: 8px;
  height: 8px;
  background-color: #00D15D;
  border-radius: 50%;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.plus {
  width: 50px;
  height: 50px;
  position: relative;
}
.plus::before {
  content: "";
  width: 50%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  transition: 0.3s;
}
.plus::after {
  content: "";
  transform: rotate(90deg);
  width: 50%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  transition: 0.3s;
}

.eks {
  width: 50px;
  height: 50px;
  position: relative;
}
.eks::before {
  content: "";
  width: 50%;
  height: 2px;
  transform: rotate(45deg);
  background-color: #ffffff;
  position: absolute;
  transition: 0.2s;
}
.eks::after {
  content: "";
  transform: rotate(-45deg);
  width: 50%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  transition: 0.2s;
}

/*# sourceMappingURL=Home.css.map */
